@use '../variables' as v;

.dashboard-container {
    background-color: v.$cream;
    background-size: 100px 100px;
    background-image: radial-gradient(
        v.$lgray 5%,
        transparent 10%
    );

    height: 100vh;

    > div {
        padding-top: 20px;
    }

    .dashboard-content {
        display: flex;
        justify-content: space-evenly;
    }
}