@use '../variables' as v;
@use '../breakpoints' as b;

.home-container {
    display: flex;
    height: 1080px;
    
    @include b.lg {
        flex-direction: column;
        overflow-x: hidden;
        height: auto;
    }

    >div {
        @include b.lg {
            padding-bottom: 200px;
        }
    }
}

.home-left {
    width: 180vw;
    background-color: v.$cream;
    background-size: 100px 100px;
    background-image: radial-gradient(v.$lgray 5%,
            transparent 10%);

    .nav-left {
        display: flex;
        position: relative;

        img {
            position: absolute;
            left: 20px;
            top: 10px;
            width: 96px;
            height: 96px;
        }

        h2 {
            margin-left: 80px;
            padding: 25px 40px;
        }
    }

    >div {
        position: relative;
        top: 20%;
        left: 10%;

        h1 {
            line-height: 70px;
            padding-bottom: 15px;
        }

        p {
            color: v.$lblack;
            width: 60%;
            padding-bottom: 15px;
        }
    }

    @include b.lg {
        width: 100vw;
    }

    .home-form {
        form {
            display: flex;

            >div {
                width: 15%;
                margin-right: 10px;
                font-size: 1.3rem;

                @include b.xl {
                    font-size: 1rem;
                }

                @include b.lg {
                    font-size: 1.3rem;
                }

                @include b.md {
                    font-size: 1rem;
                }
            }

            input {
                width: 40%;
                border-radius: 10px;
            }

            button {
                background-color: v.$dblack;
                color: v.$cream;
                margin: 0px 10px;
                padding: 10px;

                &:hover {
                    background-color: v.$dgreen;
                    color: v.$white;
                }
            }

            .form-image {
                display: flex;
                justify-content: space-between;
                width: 310px;
            }
        }

        .form-error {
            color: v.$red;
            padding: 20px 0px;
        }

        .image-upload input {
            display: none;
        }

        .image-upload-label {
            cursor: pointer;
        }

        .image-upload-label p {
            text-align: center;
            font-weight: 400;
            border: none;
            border-radius: 10px;
            color: v.$cream;
            background-color: v.$dblack;
            width: 150px;
            padding: 4px 0px;
            height: 35px;

            @include b.xxl {
                height: 30px;
            }

            @include b.lg {
                height: 35px;
            }

            @include b.md {
                height: 30px;
            }
        }

        .image-upload-label p:hover {
            background-color: v.$dgreen;
            color: v.$white;
        }
    }
}

.home-right {
    color: v.$dgreen;
    background-color: v.$lblack;

    .nav-right {
        display: flex;
        position: relative;
        justify-content: flex-end;

        @include b.lg {
            justify-content: center;
        }

        div {
            padding: 33px 60px;

            button {
                margin: 0px 25px;
                padding: 10px;
                border: 1px solid v.$dgreen;

                &:hover {
                    background-color: v.$dgreen;
                    color: v.$lblack;
                }
            }
        }
    }

    >div {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        padding-top: 15px;
        position: relative;

        >div {
            padding: 40px 0px;
            width: 70%;

            img {
                position: absolute;
                left: -80px;
                padding-top: 10px;
            }

            h3 {
                color: v.$lgreen;
                line-height: 40px;
            }

            p {
                padding-left: 5px;
            }
        }
    }
}

.highlight {
    color: v.$dgreen;
}